
sounds/cinnamon_desktop.backup
deps/gpu-video-wallpaper/
deps/libhdhomerun/
scripts/test.json
apps/cinnamon-spices-applets/
sounds/scripts/cinnamon_desktop.backup
deps/Python-3.9.7.tgz
deps/Python-3.9.7
deps/oss-models/moondream/
deps/oss-models/whisper/
deps/oss-models/media/test.mp4
deps/oss-models/media/test.srt
deps/oss-models/bark/
/deps/oss-models/piper
