[Desktop Entry]
Type=Application
Exec=~/.local/share/powertoys/hypnotix_hdhr.sh
X-GNOME-Autostart-enabled=false
NoDisplay=false
Hidden=false
Name[en_US]=Power Toys - Hypnotix HDHomeRun Scan
Comment[en_US]=Rescans local TV Tuner for updated channels (US Only)
X-GNOME-Autostart-Delay=300
